@model goatMGMT.Models.AnimalViewModel

    @{
    ViewBag.Title = "My Animals";
    Layout = "~/Views/Shared/_Layout.cshtml";
    }
    <div class="container">
        <h2>Animals</h2>

        <div class="row">
            <div class="col-md-12">
                <div class="">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <tr>
                                <td>
                                    <b> @Html.DisplayNameFor(model => model.numSires):</b> @Html.DisplayFor(model => model.numSires)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <b> @Html.DisplayNameFor(model => model.numDams):</b> @Html.DisplayFor(model => model.numDams)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <b>  @Html.DisplayNameFor(model => model.numOff):</b> @Html.DisplayFor(model => model.numOff)
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <p>
            @Html.ActionLink("Create New", "Create", "Animal", new{ @class="btn btn-success"})
            @Html.ActionLink("Compare", "Compare", "Animal", new { @class="btn btn-warning" } )
        </p>
        <div class="table-responsive">
            <table class="table table-striped tablesorter" id="animalTable">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.animal.name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.animal.tag)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.animal.dob)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.animal.sex)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.animal.isChild)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.animal.breed_code)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.animal.species)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.animal.status_code)
                        </th>
                        <th class="non-sort"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.ien) {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.animal.name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.animal.tag)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.animal.dob)
                        </td>
                        <td>
                            @if (item.animal.sex)
                            {
                            @Html.Raw("Male")
                            }
                            else
                            {
                            @Html.Raw("Female")
                            }
                        </td>
                        <td>
                            @if (item.animal.isChild)
                            {
                                @Html.Raw("Offspring")
                            }
                            else
                            {
                                @Html.Raw("Adult")
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.animal.breed_code)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.animal.species)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.animal.status_code)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id=item.animal.id }) |
                            @Html.ActionLink("Details", "Details", new { id=item.animal.id }) |
                            @Html.ActionLink("Delete", "Delete", new { id=item.animal.id })
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div id="pager" class="pager">
        <form>
            <button type="button" class="btn btn-default first">First</button>
            <button type="button" class="btn btn-default prev">Prev</button>
            <input type="text" class="pagedisplay" readonly style="height: 34px;" />
            <button type="button" class="btn btn-default next">Next</button>
            <button type="button" class="btn btn-default last">Last</button><br />
            Items on page&nbsp<select class="pagesize">
                <option selected="selected" value="5">5</option>
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="30">30</option>
                <option value="40">40</option>
                <option value="9999">View All</option>
            </select>
        </form>
    </div>
    <script src="~/Scripts/jquery.tablesorter.min.js"></script>
    <script src="~/Scripts/jquery.tablesorter.pager.js"></script>
    <script src="~/Scripts/jquery.sieve.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#animalTable').tablesorter({
                theme: 'default',
                headers: {
                    '.non-sort': { sorter: false }
                }
            }).tablesorter().tablesorterPager({
                container: $('#pager'),
                output: '{startRow} to {endRow} ({totalRows})'
            });
            $('#animalTable').sieve();
        });
    </script>
