@model goatMGMT.Models.Transaction

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <h2>Create</h2>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <fieldset class="form-horizontal">
            <legend>Expense</legend>

            <div class="control-group">
                @Html.LabelFor(m => m.item_type, new { @class = "control-label" })<small> (Required)</small>
                <div class="controls">
                    @Html.DropDownListFor(m => m.item_type, (IEnumerable<SelectListItem>)ViewData["expenseList"], "Select an Expense Type", new { @class = "form-control" })
                </div>
            </div>

            <div class="control-group">
                @Html.LabelFor(model => model.date, new { @class = "control-label" })<small> (Required)</small>
                <div class="controls">
                    @Html.TextBoxFor(model => model.date, new { @class = "form-control", @placeholder = "Enter the date of the transaction" })
                    @Html.ValidationMessageFor(model => model.date, null, new { @class = "help-inline" })
                </div>
            </div>

            <div class="control-group">
                @Html.LabelFor(model => model.quantity, new { @class = "control-label" })<small> (Optional)</small>
                <div class="controls">
                    @Html.TextBoxFor(model => model.quantity, new { @class = "form-control" , @placeholder = "How many did you buy?"})
                    @Html.ValidationMessageFor(model => model.quantity, null, new { @class = "help-inline" })
                </div>
            </div>

            <div class="control-group">
                @Html.LabelFor(model => model.total_payment, new { @class = "control-label" })<small> (Required)</small>
                <div class="controls">
                    @Html.TextBoxFor(model => model.total_payment, new { @class = "form-control" , @placeholder = "What was the total cost?"})
                    @Html.ValidationMessageFor(model => model.total_payment, null, new { @class = "help-inline" })
                </div>
            </div>

            <div class="control-group">
                @Html.LabelFor(model => model.unit_price, new { @class = "control-label" })<small> (Optional)</small>
                <div class="controls">
                    @Html.TextBoxFor(model => model.unit_price, new { @class = "form-control" , @placeholder = "How much did each unit cost?"})
                    @Html.ValidationMessageFor(model => model.unit_price, null, new { @class = "help-inline" })
                </div>
            </div>

            <div class="control-group">
                @Html.LabelFor(model => model.notes, new { @class = "control-label" })<small> (Optional)</small>
                <div class="controls">
                    @Html.TextAreaFor(model => model.notes, new { @class = "form-control", @style = "max-width:100%; min-width:100%; min-height:71px;" , @placeholder = "Enter additional information here"})
                    @Html.ValidationMessageFor(model => model.notes, null, new { @class = "help-inline" })
                </div>
            </div>

            <div class="form-actions no-color" style="padding-bottom:15px;">
                <input type="submit" value="Create" class="btn btn-success" style="margin-top:15px;" />
                @Html.ActionLink("Cancel", "Index", "Associate", new { @class = "btn btn-default", @style = "margin-top:15px;" })
            </div>
        </fieldset>
    }

</div>
@section Scripts {
    <script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/bundles/jqueryval")"></script>
    @Scripts.Render("~/bundles/datepicker")
}
<script type="text/javascript">
    $(function () {
        $('#date').datepicker();
    });
</script>

