@model goatMGMT.Models.Transaction

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
<h2>Details</h2>

<fieldset>
	<legend>Transaction</legend>
	
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">@Html.DisplayNameFor(model => model.type)</h3>
                </div>
                <div class="panel-body">
                    @if (Model.type)
                            {
                        @Html.Raw("Income")
                            }
                            else
                            {
                        @Html.Raw("Expense")
                            }

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">@Html.DisplayNameFor(model => model.item_type)</h3>
                </div>
                <div class="panel-body">
                    @Html.DisplayFor(model => model.item_type)
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">@Html.DisplayNameFor(model => model.date)</h3>
                </div>
                <div class="panel-body">
                    @Html.DisplayFor(model => model.date)
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">@Html.DisplayNameFor(model => model.quantity)</h3>
                </div>
                <div class="panel-body">
                    @Html.DisplayFor(model => model.quantity)
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">@Html.DisplayNameFor(model => model.unit_price)</h3>
                </div>
                <div class="panel-body">
                    @Html.DisplayFor(model => model.unit_price)
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">@Html.DisplayNameFor(model => model.total_payment)</h3>
                </div>
                <div class="panel-body">
                    @Html.DisplayFor(model => model.total_payment)
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">@Html.DisplayNameFor(model => model.notes)</h3>
                </div>
                <div class="panel-body">
                    @Html.DisplayFor(model => model.notes)
                </div>
            </div>
        </div>
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()

    <div class="form-actions no-color" style="padding-bottom: 15px;">
        @Html.ActionLink("Back to List", "Index", "Associate", new { @class = "btn btn-default" })
    </div>
}
</div>