@model goatMGMT.Models.Transaction

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <h2>Edit</h2>


    @using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset class="form-horizontal">
        <legend>Transaction</legend>

        @Html.HiddenFor(model => model.userid)
        @Html.HiddenFor(model => model.id)

        <div class="row">
            <div class="col-md-1">
                <div class="checkbox">
                    <label>
                        @Html.CheckBoxFor(model => model.type) Income
                    </label>
                </div>
            </div>
            <div class="col-md-1">
                <div class="checkbox">
                    <label>
                        @Html.CheckBox("expense") Expense
                    </label>
                </div>
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(model => model.item_type, new { @class = "control-label" })
            <div class="controls">
                @Html.TextBoxFor(model => model.item_type, new { @class="form-control" })
                @Html.ValidationMessageFor(model => model.item_type, null, new { @class = "help-inline" })
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(model => model.quantity, new { @class = "control-label" })
            <div class="controls">
                @Html.TextBoxFor(model => model.quantity, new { @class="form-control" })
                @Html.ValidationMessageFor(model => model.quantity, null, new { @class = "help-inline" })
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(model => model.unit_price, new { @class = "control-label" })
            <div class="controls">
                @Html.TextBoxFor(model => model.unit_price, new { @class="form-control" })
                @Html.ValidationMessageFor(model => model.unit_price, null, new { @class = "help-inline" })
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(model => model.total_payment, new { @class = "control-label" })
            <div class="controls">
                @Html.TextBoxFor(model => model.total_payment, new { @class="form-control" })
                @Html.ValidationMessageFor(model => model.total_payment, null, new { @class = "help-inline" })
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(model => model.notes, new { @class = "control-label" })
            <div class="controls">
                @Html.TextAreaFor(model => model.notes, new { @class="form-control" , @style="max-width:100%; min-width:100%; min-height:71px;" })
                @Html.ValidationMessageFor(model => model.notes, null, new { @class = "help-inline" })
            </div>
        </div>

        <div class="form-actions no-color" style="padding-bottom: 15px;">
            <input type="submit" value="Save" class="btn btn-success" style="margin-top:15px;" />
            @Html.ActionLink("Cancel", "Index", "Associate", new { @class="btn btn-default" , @style="margin-top:15px;"})
        </div>
    </fieldset>
    }
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script type="text/javascript">
    $('#expense').click(function () {
        if ($('#type').prop('checked')) {
            $('#type').prop('checked', false);
        }
    });
    $('#type').click(function () {
        if ($('#expense').prop('checked')) {
            $('#expense').prop('checked', false);
        }
    });
</script>

