@model IEnumerable<goatMGMT.Models.Transaction>

    @{
    ViewBag.Title = "Transactions";
    Layout = "~/Views/Shared/_Layout.cshtml";
    }
    <div class="container">
        <h2>Transactions</h2>
        <p>
            @Html.ActionLink("Add Income", "CreateIncome", "Transaction", new { @class="btn btn-success" } )
            @Html.ActionLink("Add Expense", "CreateExpense", "Transaction", new { @class = "btn btn-danger" })
            @Html.ActionLink("Compare", "Compare", "Transaction", new { @class="btn btn-warning" } )
        </p>
        <div class="table-responsive">
            <table class="table table-striped tablesorter" id="transTable">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.type)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.item_type)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.date)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.quantity)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.unit_price)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.total_payment)
                        </th>
                        <th class="non-sort"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>
                            @if (item.type)
                            {
                            @Html.Raw("Income")
                            }
                            else
                            {
                            @Html.Raw("Expense")
                            }
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.item_type)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.date)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.quantity)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.unit_price)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.total_payment)
                        </td>
                        <td>
                            @if (item.type)
                            {
                            @Html.ActionLink("Edit", "EditIncome", new { id = item.id })
                            }
                            @if (!item.type)
                            {
                            @Html.ActionLink("Edit", "EditExpense", new { id = item.id })
                            }
                            |
                            @Html.ActionLink("Details", "Details", new { id = item.id }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.id })
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div id="pager" class="pager">
        <form>
            <button type="button" class="btn btn-default first">First</button>
            <button type="button" class="btn btn-default prev">Prev</button>
            <input type="text" class="pagedisplay" readonly style="height: 34px;" />
            <button type="button" class="btn btn-default next">Next</button>
            <button type="button" class="btn btn-default last">Last</button><br />
            Items on page&nbsp<select class="pagesize">
                <option selected="selected" value="5">5</option>
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="30">30</option>
                <option value="40">40</option>
                <option value="9999">View All</option>
            </select>
        </form>
    </div>
    <script src="~/Scripts/jquery.tablesorter.min.js"></script>
    <script src="~/Scripts/jquery.tablesorter.pager.js"></script>
    <script src="~/Scripts/jquery.sieve.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#transTable').tablesorter({
                theme: 'default',
                headers: {
                    '.non-sort': { sorter: false }
                }
            }).tablesorter().tablesorterPager({
                container: $('#pager'),
                output: '{startRow} to {endRow} ({totalRows})'
            });
            $('#transTable').sieve();
        });
    </script>
