@model goatMGMT.Models.ChangeSecurityQuestionViewModel
@using System.Web.Mvc;
@{
    ViewBag.Title = "Change Security Question";
    Layout = @Url.Content("~/Views/Shared/_Layout.cshtml");
}

<div class="container">
    @using (Html.BeginForm())
    {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset class="form-horizontal">
        <legend>Change your security question.</legend>
        <div class="control-group">
            @Html.LabelFor(m => m.SecurityQuestion1, new { @class = "control-label" })
            <div class="controls">
                @Html.DropDownListFor(m => m.SecurityQuestion1, Model.questions1, "Select a Question", new { @class = "form-control"})
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(m => m.SecurityQuestionAnswer1, new { @class = "control-label" })
            <div class="controls">
                @Html.TextBoxFor(m => m.SecurityQuestionAnswer1, new { @class = "form-control",  @placeholder="Answer to Security Question 1"})
            </div>
        </div>
        <p class="help-block">Note: Format of answers is important (ex. Farm vs farm).</p>
        <div class="control-group">
            @Html.LabelFor(m => m.SecurityQuestion2, new { @class = "control-label" })
            <div class="controls">
                @Html.DropDownListFor(m => m.SecurityQuestion2, Model.questions2, "Select a Question", new { @class = "form-control"})
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(m => m.SecurityQuestionAnswer2, new { @class = "control-label" })
            <div class="controls">
                @Html.TextBoxFor(m => m.SecurityQuestionAnswer2, new { @class = "form-control",  @placeholder="Answer to Security Question 2"})
            </div>
        </div>
        <p class="help-block">Note: Format of answers is important (ex. Farm vs farm).</p>
        <div class="form-actions no-color" style="padding-top: 15px; padding-bottom: 15px;">
            <input value="Save" type="submit" class="btn btn-success" />
            @Html.ActionLink("Cancel", "Manage", "Account", new { @class="btn btn-danger"})
        </div>
    </fieldset>
    }
</div>
    @section Scripts {
    <script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/bundles/jqueryval")"></script>
    }

