@model goatMGMT.Models.ChangePasswordViewModel
@using System.Web.Mvc;
@{
    ViewBag.Title = "Change Password";
    Layout = @Url.Content("~/Views/Shared/_Layout.cshtml");
}

<div class="container">
    @using (Html.BeginForm())
    {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset class="form-horizontal">
        <legend>Create a new account.</legend>
        <div class="control-group">
            @Html.LabelFor(m => m.oldPassword, new { @class = "control-label" })
            <div class="controls">
                @Html.PasswordFor(m => m.oldPassword, new { @class = "form-control"})
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(m => m.newPassword, new { @class = "control-label" })
            <div class="controls">
                @Html.PasswordFor(m => m.newPassword, new { @class = "form-control"})
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(m => m.newPasswordConfirm, new { @class = "control-label" })
            <div class="controls">
                @Html.PasswordFor(m => m.newPasswordConfirm, new { @class = "form-control"})
            </div>
        </div>
        <div class="form-actions no-color" style="padding-top: 15px; padding-bottom: 15px;">
            <input value="Submit" type="submit" class="btn btn-success" />
        </div>
    </fieldset>
    }
</div>
    @section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    }
