@model goatMGMT.Models.ChangeSecurityQuestionViewModel
@using System.Web.Mvc;
@{
    ViewBag.Title = "Change Security Question";
    Layout = @Url.Content("~/Views/Shared/_Layout.cshtml");
}

<div class="container">
    @using (Html.BeginForm())
    {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset class="form-horizontal">
        <legend>Change your security question.</legend>
        <div class="control-group">
            @Html.LabelFor(m => m.Password, new { @class = "control-label" })
            <div class="controls">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control"})
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(m => m.SecurityQuestion, new { @class = "control-label" })
            <div class="controls">
                @Html.TextBoxFor(m => m.SecurityQuestion, new { @class = "form-control"})
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(m => m.SecurityQuestionAnswer, new { @class = "control-label" })
            <div class="controls">
                @Html.TextBoxFor(m => m.SecurityQuestionAnswer, new { @class = "form-control"})
            </div>
        </div>
        <div class="form-actions no-color" style="padding-top: 15px; padding-bottom: 15px;">
            <input value="Submit" type="submit" class="btn btn-success" />
            @Html.ActionLink("Cancel", "Manage", "Account", new { @class="btn btn-danger"})
        </div>
    </fieldset>
    }
</div>
    @section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    }

