@model goatMGMT.Models.ChangeSecurityQuestionViewModel
@using System.Web.Mvc;
@{
    ViewBag.Title = "Forgot";
    Layout = @Url.Content("~/Views/Shared/_Layout.cshtml");
}

<div class="container">
    <hgroup class="title">
        <h1>Recover your account</h1>
    </hgroup>

    @using (Html.BeginForm())
    {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    @Html.HiddenFor(m => m.userID)
    @Html.HiddenFor(m => m.SecurityQuestion1)
    @Html.HiddenFor(m => m.SecurityQuestion2)
    <fieldset class="form-horizontal">
        <legend>Answer these questions to verify it's actually you.</legend>
        <div class="control-group">
            @Html.LabelFor(m => m.SecurityQuestion1, new { @class = "control-label" })
            <div class="controls">
                @Html.DisplayFor(m => m.SecurityQuestion1)
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(m => m.SecurityQuestionAnswer1, new { @class = "control-label" })
            <div class="controls">
                @Html.TextBoxFor(m => m.SecurityQuestionAnswer1, new { @class = "form-control",  @placeholder="Answer to Security Question 1"})
            </div>
        </div>
        <p class="help-block">Note: Format of answers is important (ex. Farm vs farm).</p>
        <div class="control-group">
            @Html.LabelFor(m => m.SecurityQuestion2, new { @class = "control-label" })
            <div class="controls">
                @Html.DisplayFor(m => m.SecurityQuestion2)
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(m => m.SecurityQuestionAnswer2, new { @class = "control-label" })
            <div class="controls">
                @Html.TextBoxFor(m => m.SecurityQuestionAnswer2, new { @class = "form-control",  @placeholder="Answer to Security Question 2"})
            </div>
        </div>
        <p class="help-block">Note: Format of answers is important (ex. Farm vs farm).</p>
        <div class="form-actions no-color" style="padding-top: 15px; padding-bottom: 15px;">
            <input value="Recover" type="submit" class="btn btn-success" />
            @Html.ActionLink("Cancel", "Manage", "Account", new { @class="btn btn-danger"})
        </div>
    </fieldset>
    }
</div>
    @section Scripts {
    <script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/bundles/jqueryval")"></script>
    }


