@using System.Web.Mvc;
@using Recaptcha.Web.Mvc;
@{
    ViewBag.Title = "Forgot";
    Layout = @Url.Content("~/Views/Shared/_Layout.cshtml");
}
<div class="container">
    <hgroup class="title">
        <h1>Recover your account</h1>
    </hgroup>

    @using (Html.BeginForm())
    {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset class="form-horizontal">
        <legend>We will need some information first.</legend>
        <div class="control-group">
            What was your email that you registered with?
            <div class="controls">
                @Html.TextBox("username", null, new { @class = "form-control"})
            </div>
        </div>
        <div class="form-actions no-color" style="padding-top: 15px; padding-bottom: 15px;">
            <input value="Find me" type="submit" class="btn btn-success" />
        </div>
    </fieldset>
    }
</div>
    @section Scripts {
    <script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/bundles/jqueryval")"></script>
    }

