@model goatMGMT.Models.LoginViewModel

@{
    ViewBag.Title = "Log in";
    Layout = @Url.Content("~/Views/Shared/_Layout.cshtml");
}

<div class="container">
<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div class="row-fluid">
    <div class="span6">
        <section id="loginForm">
            @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                <fieldset class="form-horizontal">
                    <legend>Log in to a registered account.</legend>
                    <div class="control-group">
                        @Html.LabelFor(m => m.Username, new { @class = "control-label" })
                        <div class="controls">
                            @Html.TextBoxFor(m => m.Username, new { @class = "form-control"})
                            @Html.ValidationMessageFor(m => m.Username, null, new { @class = "help-inline" })
                        </div>
                    </div>
                    <div class="control-group">
                        @Html.LabelFor(m => m.Password, new { @class = "control-label" })
                        <div class="controls">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control"})
                            @Html.ValidationMessageFor(m => m.Password, null, new { @class = "help-inline" })
                        </div>
                    </div>
                    <div class="form-actions no-color" style="padding-bottom:15px; padding-top:15px;">
                        <input  value="Log in" type="submit" class="btn btn-info" />
                    </div>
                </fieldset>
                <p>
                    Register @Html.ActionLink("here", "Register") if you don't already have an account account.
                </p>
                <p>
                    Click @Html.ActionLink("here", "ForgotPassword1") if you forgot your password.
                </p>
            }
        </section>
    </div>
</div>
    </div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}