@model goatMGMT.Models.RegisterViewModel
@using System.Web.Mvc;
@using Recaptcha.Web.Mvc;
@{
    ViewBag.Title = "Register";
    Layout = @Url.Content("~/Views/Shared/_Layout.cshtml");
}
    <div class="container">
        <hgroup class="title">
            <h1>@ViewBag.Title.</h1>
        </hgroup>

        @using (Html.BeginForm())
        {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()

        <fieldset class="form-horizontal">
            <legend>Create a new account.</legend>
            <div class="control-group">
                @Html.LabelFor(m => m.Username, new { @class = "control-label" })
                <div class="controls">
                    @Html.TextBoxFor(m => m.Username, new { @class = "form-control"})
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(m => m.Password, new { @class = "control-label" })
                <div class="controls">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control"})
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
                <div class="controls">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control"})
                    @Html.ValidationMessageFor(m => m.Password, null, new { @class = "help-inline" })
                </div>
            </div>
            <div style="padding-top: 10px;">
                    @Html.Recaptcha()
            </div>
            <div class="checkbox" style="padding-top: 10px;">
                <label>
                    <input id="check"type="checkbox"> I agree to the <a id="laClick">terms and conditions</a>.
                </label>
            </div>    
            <div class="form-actions no-color" style="padding-top: 15px; padding-bottom: 15px;">
                <input value="Register" type="submit" class="btn btn-success" style="visibility:hidden" id="regButton"/>
            </div>
            <div id="laText" style="padding-top:10px; visibility:hidden;">
                <div class="row">
                    <div class="col-md-12">
                        @Model.agreement
                        <br />
                        <a id="close">Close</a>
                    </div>
                </div>
            </div>
        </fieldset>
        }
    </div>
    @section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    }
<script type="text/javascript">
    $('#check').change(function () {
        if ($('#check').prop('checked')) {
            $("#regButton").css('visibility', 'visible');
        }
        else {
            $("#regButton").css('visibility', 'hidden');
        }
    });
    $('#laClick').click(function () {
        $("#laText").css('visibility', 'visible');
    });
    $('#close').click(function () {
        $("#laText").css('visibility', 'hidden');
    });
</script>
