<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</head>
<body>
    <!-- Wrap all page content here -->
    <div id="">
            <div class="navbar navbar-default navbar-fixed-top" style="width:100%; position:absolute;" id="nav">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="~/Home/Index">FARMSdatabase</a>
                    </div>
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav">
                            <li id="active-home"><a href="~/Home/Index">Home</a></li>
                            <li id="active-about"><a href="~/Home/About">About</a></li>
                            <li id="active-pricing"><a href="~/Home/Pricing">Pricing</a></li>
                            <li id="active-contact"><a href="~/Home/Contact">Contact</a></li>
                            @{
                                if (User.Identity.IsAuthenticated)
                                {
                                    <li id="active-dashboard"><a href="~/Home/Dashboard">Dashboard</a></li>
                                }
                            }
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            @{
                            if (User.Identity.IsAuthenticated)
                            {
                            <li>
                                <div class="btn-group navbar-btn" role="group">
                                    <button class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><strong>My Account </strong><span class="caret"></span></button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li role="presentation" class="dropdown-header">@User.Identity.Name</li>
                                        <li class="divider"></li>
                                        <li><a href="~/Account/Manage">Manage My Account</a></li>
                                        <li class="divider"></li>
                                        <li><a href="~/Account/Logout">Logout</a></li>
                                    </ul>
                                </div>
                            </li>
                            }
                            else
                            {
                            <li><form action="~/Account/Register"><button style="margin-left:10px;" class="btn btn-success navbar-btn">Register</button></form></li>
                            <li><form action="~/Account/Login"><button style="margin-left:10px;" class="btn btn-info navbar-btn">Log In</button></form></li>
                            }
                            }
                        </ul>
                    </div><!--/.nav-collapse -->
                </div>
        </div>

        <!-- Begin page content -->
        <div class="">
            @RenderBody()
        </div>
    </div>

    <div id="footer">
        <div class="container">
            <p style="padding-top:20px; text-align:center"   class="text-muted credit">Made by Auburn University Senior Design Team - Spring 2015</p>
        </div>
    </div>
</body>
</html>
