@model goatMGMT.Models.TreatmentViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <h2>Create</h2>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <fieldset class="form-horizontal">
            <legend>Treatment</legend>

            <div class="control-group">
                @Html.LabelFor(model => model.treatment.animal_id, new { @class = "control-label" })<small> (Required)</small>
                <div class="controls">
                    @Html.DropDownList("treatment.animal_id", (IEnumerable<SelectListItem>)ViewData["alist"], new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.treatment.animal_id, null, new { @class = "help-inline" })
                </div>
            </div>

            <div class="control-group">
                @Html.LabelFor(model => model.treatment.date, new { @class = "control-label" })<small> (Required)</small>
                <div class="controls">
                    @Html.TextBoxFor(model => model.treatment.date, new { @class = "form-control", @placeholder="Enter the date of the treatment" })
                    @Html.ValidationMessageFor(model => model.treatment.date, null, new { @class = "help-inline" })
                </div>
            </div>

            <div class="control-group">
                @Html.LabelFor(model => model.treatment.item_type, new { @class = "control-label" })<small> (Required)</small>
                <div class="controls">
                    @Html.TextBoxFor(model => model.treatment.item_type, new { @class = "form-control", @placeholder="Enter the type of the treatment (surgery, checkup, etc.)"})
                    @Html.ValidationMessageFor(model => model.treatment.item_type, null, new { @class = "help-inline" })
                </div>
            </div>

            <div class="control-group">
                @Html.LabelFor(model => model.treatment.dosage, new { @class = "control-label" })<small> (Optional)</small>
                <div class="controls">
                    @Html.TextBoxFor(model => model.treatment.dosage, new { @class = "form-control", @placeholder="Enter the dosage that was given" })
                    @Html.ValidationMessageFor(model => model.treatment.dosage, null, new { @class = "help-inline" })
                </div>
            </div>

            <div class="control-group">
                @Html.LabelFor(model => model.treatment.product, new { @class = "control-label" })<small> (Optional)</small>
                <div class="controls">
                    @Html.TextBoxFor(model => model.treatment.product, new { @class = "form-control", @placeholder="Enter the product that was used" })
                    @Html.ValidationMessageFor(model => model.treatment.product, null, new { @class = "help-inline" })
                </div>
            </div>

            <div class="control-group">
                @Html.LabelFor(model => model.treatment.remarks, new { @class = "control-label" })<small> (Optional)</small>
                <div class="controls">
                    @Html.TextAreaFor(model => model.treatment.remarks, new { @class = "form-control", @style = "max-width:100%; min-width:100%; min-height:71px", @placeholder="Enter additional information here"})
                    @Html.ValidationMessageFor(model => model.treatment.remarks, null, new { @class = "help-inline" })
                </div>
            </div>

            <div class="form-actions no-color" style="padding-bottom:15px">
                <input type="submit" value="Create" class="btn btn-success" style="margin-top:15px;" />
                @Html.ActionLink("Cancel", "Index", "Treatment", new { @class = "btn btn-danger", @style = "margin-top:15px;" })
            </div>
        </fieldset>
    }

</div>
@section Scripts {
    <script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/bundles/jqueryval")"></script>
    @Scripts.Render("~/bundles/datepicker")
}
<script type="text/javascript">
    $(function () {
        $('#treatment_date').datepicker();
    });
</script>

