@model goatMGMT.Models.License

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<fieldset>
	<legend>License</legend>
	<dl>
		<dt>
			@Html.DisplayNameFor(model => model.pk)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.pk)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Agreement)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Agreement)
		</dd>

	</dl>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
