@model goatMGMT.Models.License

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <h2>Edit</h2>


    @using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    @Html.HiddenFor(m => m.pk)
    <fieldset class="form-horizontal">
        <legend>License Agreement</legend>

        <div class="control-group">
            @Html.LabelFor(model => model.Agreement, new { @class = "control-label" })
            <div class="controls">
                @Html.TextAreaFor(model => model.Agreement, new { @class = "form-control", @style = "max-width:100%; min-width:100%; min-height:400px" })
                @Html.ValidationMessageFor(model => model.Agreement, null, new { @class = "help-inline" })
            </div>
        </div>

        <div class="form-actions no-color" style="padding-top: 15px; padding-bottom: 15px;">
            <input type="submit" value="Save" class="btn btn-success" />
            @Html.ActionLink("Cancel", "Dashboard", "Home", new{}, new{ @class="btn btn-danger"})
        </div>
    </fieldset>
    }
</div>
@section Scripts {
    <script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/bundles/jqueryval")"></script>
}

