@model goatMGMT.Models.Breeding

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <h2>Create</h2>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <fieldset class="form-horizontal">
            <legend>Breeding</legend>

            <div class="control-group">
                @Html.LabelFor(model => model.mother_id, new { @class = "control-label" })
                <div class="controls">
                    @Html.TextBoxFor(model => model.mother_id, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.mother_id, null, new { @class = "help-inline" })
                </div>
            </div>

            <div class="control-group">
                @Html.LabelFor(model => model.father_id, new { @class = "control-label" })
                <div class="controls">
                    @Html.TextBoxFor(model => model.father_id, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.father_id, null, new { @class = "help-inline" })
                </div>
            </div>

            <div class="control-group">
                @Html.LabelFor(model => model.date, new { @class = "control-label" })
                <div class="controls">
                    @Html.TextBoxFor(model => model.date, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.date, null, new { @class = "help-inline" })
                </div>
            </div>

            <div class="control-group">
                @Html.LabelFor(model => model.pregnancy_check, new { @class = "control-label" })
                <div class="controls">
                    @Html.TextBoxFor(model => model.pregnancy_check, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.pregnancy_check, null, new { @class = "help-inline" })
                </div>
            </div>

            <div class="control-group">
                @Html.LabelFor(model => model.expected_kidding_date, new { @class = "control-label" })
                <div class="controls">
                    @Html.TextBoxFor(model => model.expected_kidding_date, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.expected_kidding_date, null, new { @class = "help-inline" })
                </div>
            </div>

            <div class="control-group">
                @Html.LabelFor(model => model.remarks, new { @class = "control-label" })
                <div class="controls">
                    @Html.TextAreaFor(model => model.remarks, new { @class = "form-control", @style = "max-width:100%; min-width:100%; min-height:71px" })
                    @Html.ValidationMessageFor(model => model.remarks, null, new { @class = "help-inline" })
                </div>
            </div>

            <div class="form-actions no-color" style="padding-bottom:15px">
                <input type="submit" value="Create" class="btn btn-success" style="margin-top:15px;" />
                @Html.ActionLink("Cancel", "Index", "Breeding", new { @class = "btn btn-danger", @style = "margin-top:15px;" })
            </div>
        </fieldset>
    }

</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

