@model goatMGMT.Models.BreedingViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <h2>Create</h2>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <fieldset class="form-horizontal">
            <legend>Breeding</legend>
            <div class="control-group">
                @Html.LabelFor(model => model.breeding.mother_id, new { @class = "control-label" })<small> (Required)</small>
                <div class="controls">
                    @Html.DropDownList("breeding.mother_id", (IEnumerable<SelectListItem>)ViewData["flist"], new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.breeding.mother_id, null, new { @class = "help-inline" })
                </div>
            </div>

            <div class="control-group">
                @Html.LabelFor(model => model.breeding.father_id, new { @class = "control-label" })<small> (Required)</small>
                <div class="controls">
                    @Html.DropDownList("breeding.father_id", (IEnumerable<SelectListItem>)ViewData["mlist"], new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.breeding.father_id, null, new { @class = "help-inline" })
                </div>
            </div>

            <div class="control-group">
                @Html.LabelFor(model => model.breeding.date, new { @class = "control-label" })<small> (Required)</small>
                <div class="controls">
                    @Html.TextBoxFor(model => model.breeding.date, new { @class = "form-control", @placeholder="Enter the date of the breeding" })
                    @Html.ValidationMessageFor(model => model.breeding.date, null, new { @class = "help-inline" })
                </div>
            </div>

            <div class="control-group">
                @Html.LabelFor(model => model.breeding.pregnancy_check, new { @class = "control-label" })<small> (Optional)</small>
                <div class="controls">
                    @Html.TextBoxFor(model => model.breeding.pregnancy_check, new { @class = "form-control", @placeholder="Enter the date of the pregnancy check" })
                    @Html.ValidationMessageFor(model => model.breeding.pregnancy_check, null, new { @class = "help-inline" })
                </div>
            </div>

            <div class="control-group">
                @Html.LabelFor(model => model.breeding.expected_kidding_date, new { @class = "control-label" })<small> (Optional)</small>
                <div class="controls">
                    @Html.TextBoxFor(model => model.breeding.expected_kidding_date, new { @class = "form-control" , @placeholder="Enter the expected kidding date"})
                    @Html.ValidationMessageFor(model => model.breeding.expected_kidding_date, null, new { @class = "help-inline" })
                </div>
            </div>

            <div class="control-group">
                @Html.LabelFor(model => model.breeding.remarks, new { @class = "control-label" })<small> (Optional)</small>
                <div class="controls">
                    @Html.TextAreaFor(model => model.breeding.remarks, new { @class = "form-control", @style = "max-width:100%; min-width:100%; min-height:71px", @placeholder="Enter additional information here" })
                    @Html.ValidationMessageFor(model => model.breeding.remarks, null, new { @class = "help-inline" })
                </div>
            </div>

            <div class="form-actions no-color" style="padding-bottom:15px">
                <input type="submit" value="Create" class="btn btn-success" style="margin-top:15px;" />
                @Html.ActionLink("Cancel", "Index", "Breeding", new { @class = "btn btn-danger", @style = "margin-top:15px;" })
            </div>
        </fieldset>
    }

</div>
@section Scripts {
    <script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/bundles/jqueryval")"></script>
    @Scripts.Render("~/bundles/datepicker")
}
<script type="text/javascript">
    $(function () {
        $('#breeding_date').datepicker();
        $('#breeding_pregnancy_check').datepicker();
        $('#breeding_expected_kidding_date').datepicker();
    });
</script>

