@model goatMGMT.Models.BreedingViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <h2>Details</h2>

    <fieldset>
        <legend>Breeding</legend>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">@Html.DisplayNameFor(model => model.mother_tag)</h3>
                    </div>
                    <div class="panel-body">
                        @Html.DisplayFor(model => model.mother_tag)
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">@Html.DisplayNameFor(model => model.breeding.mother_id)</h3>
                    </div>
                    <div class="panel-body">
                        @Html.DisplayFor(model => model.mother_name)
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">@Html.DisplayNameFor(model => model.father_tag)</h3>
                    </div>
                    <div class="panel-body">
                        @Html.DisplayFor(model => model.father_tag)
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">@Html.DisplayNameFor(model => model.breeding.father_id)</h3>
                    </div>
                    <div class="panel-body">
                        @Html.DisplayFor(model => model.father_name)
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">@Html.DisplayNameFor(model => model.breeding.date)</h3>
                    </div>
                    <div class="panel-body">
                        @Html.DisplayFor(model => model.breeding.date)
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">@Html.DisplayNameFor(model => model.breeding.pregnancy_check)</h3>
                    </div>
                    <div class="panel-body">
                        @Html.DisplayFor(model => model.breeding.pregnancy_check)
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">@Html.DisplayNameFor(model => model.breeding.expected_kidding_date)</h3>
                    </div>
                    <div class="panel-body">
                        @Html.DisplayFor(model => model.breeding.expected_kidding_date)
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">@Html.DisplayNameFor(model => model.breeding.remarks)</h3>
                    </div>
                    <div class="panel-body">
                        @Html.DisplayFor(model => model.breeding.remarks)
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
    <p>
        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
    </p>
</div>