@model goatMGMT.Models.BreedingViewModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <h2>Edit</h2>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        @Html.HiddenFor(model => model.breeding.id)
        @Html.HiddenFor(model => model.breeding.father_id)
        @Html.HiddenFor(model => model.breeding.mother_id)
        <fieldset class="form-horizontal">
            <legend>Breeding</legend>

            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">@Html.DisplayNameFor(model => model.breeding.mother_id)</h3>
                        </div>
                        <div class="panel-body">
                            @Html.DisplayFor(model => model.mother_name)
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">@Html.DisplayNameFor(model => model.breeding.father_id)</h3>
                        </div>
                        <div class="panel-body">
                            @Html.DisplayFor(model => model.father_name)
                        </div>
                    </div>
                </div>
            </div>

            <div class="control-group">
                @Html.LabelFor(model => model.breeding.date, new { @class = "control-label" })
                <div class="controls">
                    @Html.EditorFor(model => model.breeding.date, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.breeding.date, null, new { @class = "help-inline" })
                </div>
            </div>

            <div class="control-group">
                @Html.LabelFor(model => model.breeding.pregnancy_check, new { @class = "control-label" })
                <div class="controls">
                    @Html.EditorFor(model => model.breeding.pregnancy_check, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.breeding.pregnancy_check, null, new { @class = "help-inline" })
                </div>
            </div>

            <div class="control-group">
                @Html.LabelFor(model => model.breeding.expected_kidding_date, new { @class = "control-label" })
                <div class="controls">
                    @Html.EditorFor(model => model.breeding.expected_kidding_date, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.breeding.expected_kidding_date, null, new { @class = "help-inline" })
                </div>
            </div>

            <div class="control-group">
                @Html.LabelFor(model => model.breeding.remarks, new { @class = "control-label" })
                <div class="controls">
                    @Html.TextAreaFor(model => model.breeding.remarks, new { @class = "form-control", @style = "max-width:100%; min-width:100%;  min-height:71px" })
                    @Html.ValidationMessageFor(model => model.breeding.remarks, null, new { @class = "help-inline" })
                </div>
            </div>

            <div class="form-actions no-color" style="padding-bottom:15px">
                <input type="submit" value="Save" class="btn btn-success" style="margin-top:15px;" />
                @Html.ActionLink("Cancel", "Index", "Breeding", new { @class = "btn btn-danger", @style = "margin-top:15px;" })
            </div>
        </fieldset>
    }

    </div>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }

