@model goatMGMT.Models.BreedingViewModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <h2>Edit</h2>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        @Html.HiddenFor(model => model.breeding.id)
        @Html.HiddenFor(model => model.breeding.father_id)
        @Html.HiddenFor(model => model.breeding.mother_id)
        <fieldset class="form-horizontal">
            <legend>Breeding</legend>

            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">@Html.DisplayNameFor(model => model.breeding.mother_id)</h3>
                        </div>
                        <div class="panel-body">
                            @Html.DisplayFor(model => model.mother_name)
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">@Html.DisplayNameFor(model => model.breeding.father_id)</h3>
                        </div>
                        <div class="panel-body">
                            @Html.DisplayFor(model => model.father_name)
                        </div>
                    </div>
                </div>
            </div>

            <div class="control-group">
                @Html.LabelFor(model => model.breeding.date, new { @class = "control-label" })<small> (Required)</small>
                <div class="controls">
                    @Html.TextBoxFor(model => model.breeding.date,  "{0:MM/dd/yyyy}", new { @class = "form-control", @placeholder = "Enter the date of the breeding" })
                    @Html.ValidationMessageFor(model => model.breeding.date, null, new { @class = "help-inline" })
                </div>
            </div>

            <div style="padding-top:10px;">
                @Html.LabelFor(model => model.breeding.pregnancy_check, new { @class = "control-label" })<small> (Required)</small>
            </div>
            <div class="row" style="padding-bottom:10px;">
                <div class="col-md-1">
                    <div class="checkbox">
                        <label>
                            @Html.CheckBoxFor(model => model.breeding.pregnancy_check) Yes
                        </label>
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="checkbox">
                        <label>
                            @Html.CheckBox("preg2") No
                        </label>
                    </div>
                </div>
            </div>

            <div class="control-group">
                @Html.LabelFor(model => model.breeding.expected_kidding_date, new { @class = "control-label" })<small> (Optional)</small>
                <div class="controls">
                    @Html.TextBoxFor(model => model.breeding.expected_kidding_date, "{0:MM/dd/yyyy}", new { @class = "form-control", @placeholder = "Enter the expected birthing date" })
                    @Html.ValidationMessageFor(model => model.breeding.expected_kidding_date, null, new { @class = "help-inline" })
                </div>
            </div>

            <div class="control-group">
                @Html.LabelFor(model => model.breeding.actual_birthing_date, new { @class = "control-label" })<small> (Optional)</small>
                <div class="controls">
                    @Html.TextBoxFor(model => model.breeding.actual_birthing_date, "{0:MM/dd/yyyy}", new { @class = "form-control", @placeholder = "Enter the actual birthing date" })
                    @Html.ValidationMessageFor(model => model.breeding.actual_birthing_date, null, new { @class = "help-inline" })
                </div>
            </div>


            <div class="control-group">
                @Html.LabelFor(model => model.breeding.remarks, new { @class = "control-label" })
                <div class="controls">
                    @Html.TextAreaFor(model => model.breeding.remarks, new { @class = "form-control", @style = "max-width:100%; min-width:100%;  min-height:71px", @placeholder = "Enter additional information here" })
                    @Html.ValidationMessageFor(model => model.breeding.remarks, null, new { @class = "help-inline" })
                </div>
            </div>

            <div class="form-actions no-color" style="padding-bottom:15px">
                <input type="submit" value="Save" class="btn btn-success" style="margin-top:15px;" />
                @Html.ActionLink("Cancel", "Index", "Breeding", new { @class = "btn btn-danger", @style = "margin-top:15px;" })
            </div>
        </fieldset>
    }

    </div>
    @section Scripts {
        <script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/bundles/jqueryval")"></script>
    @Scripts.Render("~/bundles/datepicker")
    }
<script type="text/javascript">
    $(function () {
        $('#breeding_date').datepicker();
        $('#breeding_expected_kidding_date').datepicker();
        $('#breeding_actual_birthing_date').datepicker();
    });
    $(document).ready(function () {
        if (!$('#breeding_pregnancy_check').is(':checked')) {
            $('#preg2').prop('checked', true);
        }
    })
    $('#preg2').click(function () {
        if ($('#breeding_pregnancy_check').prop('checked')) {
            $('#breeding_pregnancy_check').prop('checked', false);
        }
    });
    $('#breeding_pregnancy_check').click(function () {
        if ($('#preg2').prop('checked')) {
            $('#preg2').prop('checked', false);
        }
    });
</script>
    

