@model IEnumerable<goatMGMT.Models.BreedingExtended>

@{
    ViewBag.Title = "Breeding";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
<h2>Breeding</h2>

<p>
    @Html.ActionLink("Create New", "Create", "Breeding", new { @class = "btn btn-success" })
</p>
<div class="table-responsive">
    <table class="table table-striped">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.mother_tag)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.breed.mother_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.father_tag)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.breed.father_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.breed.date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.breed.expected_kidding_date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.breed.remarks)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.mother_tag)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.mother_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.father_tag)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.father_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.breed.date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.breed.expected_kidding_date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.breed.remarks)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new {  id = item.breed.id, id2 = item.breed.mother_id, id3 = item.breed.father_id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.breed.id, id2 = item.breed.mother_id, id3 = item.breed.father_id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.breed.id, id2 = item.breed.mother_id, id3 = item.breed.father_id })
                </td>
            </tr>
            }

        </table>
    </div>
</div>