@model IEnumerable<goatMGMT.Models.Associate>

    @{
    ViewBag.Title = "Associates";
    Layout = "~/Views/Shared/_Layout.cshtml";
    }
    <div class="container">
        <h2>Associates</h2>

        <p>
            @Html.ActionLink("Create New", "Create", "Associate", new{ @class="btn btn-success"})
        </p>
        <div class="table-responsive">
            <table class="table table-striped">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.street)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.city)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.state)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.zip)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.telephone)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.fax)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.email)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.street)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.city)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.state)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.zip)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.telephone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.fax)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.email)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
                        @Html.ActionLink("Details", "Details", new { id=item.id }) |
                        @Html.ActionLink("Delete", "Delete", new { id=item.id })
                    </td>
                </tr>
                }

            </table>
        </div>
    </div>

