@model goatMGMT.Models.Comment

@{
    ViewBag.Title = "Contact Us";
    Layout = @Url.Content("~/Views/Shared/_PublicLayout.cshtml");
}
<div class="container" style="padding-top: 70px;">
    <div>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()

            <fieldset class="form-horizontal">
                <legend>We would like to hear your thoughts!</legend>
                
                <div class="control-group">
                    @Html.LabelFor(m => m.name, new { @class = "control-label" })<small> (Optional)</small>
                    <div class="controls">
                        @Html.TextBoxFor(m => m.name, new { @id = "name", @class = "form-control", @placeholder="Enter your name so we know what to call you"})
                    </div>
                </div>
                <div class="control-group">
                    @Html.LabelFor(m => m.email, new { @class = "control-label" })<small> (Optional)</small>
                    <div class="controls">
                        @Html.TextBoxFor(m => m.email, new { @id = "email", @class = "form-control", @placeholder="Enter your email so we can get back to you" })
                    </div>
                </div>
                <div class="control-group">
                    @Html.LabelFor(m => m.subject, new { @class = "control-label" })<small> (Optional)</small>
                    <div class="controls">
                        @Html.TextBoxFor(m => m.subject, new { @id = "subject", @class = "form-control", @placeholder="Enter the subject of your feedback" })
                    </div>
                </div>
                <div class="control-group">
                    @Html.LabelFor(m => m.comment1, new { @class = "control-label" })<small> (Required)</small>
                    <div class="controls">
                        @Html.TextAreaFor(m => m.comment1, new { @id = "comment", @class = "form-control", @style = "max-width:100%; min-width:100%; min-height:71px", @placeholder="Enter your feedback" })
                    </div>
                </div>
                <div class="form-actions no-color" style="padding-top: 15px; padding-bottom: 15px;">
                    <input type="submit" value="Send Feedback" class="btn btn-success" data-toggle="modal" data-target="#myModal" />
                </div>
            </fieldset>
        }
    </div>
    </div>
    @section Scripts {
        <script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/bundles/jqueryval")"></script>
    }
<script type="text/javascript">
        $(document).ready(function () {
            $("#active-contact").addClass("active");
            $("#layout-header").css({ "background-image": "url(/Content/imgs/header3.png)", "color": "white"});
        });
</script>

<script type="text/javascript">
    $('#myModal').on('show.bs.modal', function (e) {
        if (document.getElementById("comment").value == '') {
            //TODO set warning text
            document.getElementById("warning").style.display = 'block';
            return e.preventDefault();
        }
    })

    $('#myModal').on('hidden.bs.modal', function (e) {
        onsubmit();
    })
</script>