@model goatMGMT.Models.SummaryViewModel
@using System.Web.Mvc;

@{
    ViewBag.Title = "Herd Summary";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">

    <h2 style="margin-bottom:15px;">Herd Summary</h2>
    @Html.ActionLink("Export to Excel", "Export", "Home", new{}, new{@class="btn btn-success", @style=""})
    <p style="margin-bottom:15px;">Download an excel sheet with all of your information filled in</p>
    
    <div class="control-group" style="padding-top: 15px; padding-bottom: 15px;">
        @Html.LabelFor(m => m.graphAnswer, new { @class = "control-label" })
        <div class="controls">
            @Html.DropDownListFor(m => m.graphAnswer, (IEnumerable<SelectListItem>)ViewData["GraphList"], "Select a category", new { @class = "form-control" })
        </div>
    </div>
    
    <div id="breedString" class="control-group" style="padding-top: 15px; padding-bottom: 15px; display: none;">
        @Html.LabelFor(m => m.stringBreedCode, new { @class = "control-label" })
        <div class="controls">
            @Html.DropDownListFor(m => m.stringBreedCode, (IEnumerable<SelectListItem>)ViewData["breedList"], "Select a breed to compare", new { @class = "form-control" })
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h4><span id="graph1Title"></span></h4>
            <div id="graph1" style="width: 100%; font-size:12px; height:250px; margin-bottom:15px; display:none;"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h4><span id="graph2Title"></span></h4>
            <div id="graph2" style="width: 100%; font-size:12px; height:250px; margin-bottom:15px; display:none;"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h4><span id="graph3Title"></span></h4>
            <div id="graph3" style="width: 100%; font-size:12px; height:250px; margin-bottom:15px; display:none;"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h4><span id="graph4Title"></span></h4>
            <div id="graph4" style="width: 100%; font-size:12px; height:250px; margin-bottom:15px; display:none;"></div>
        </div>
    </div>
</div>
<script type="text/javascript" src="http://www.amcharts.com/lib/3/amcharts.js"></script>
<script type="text/javascript" src="http://www.amcharts.com/lib/3/serial.js"></script>
<script type="text/javascript" src="http://www.amcharts.com/lib/3/themes/none.js"></script>
<script type="text/javascript" src="http://www.amcharts.com/lib/3/pie.js"></script>
<script type="text/javascript" src="http://www.amcharts.com/lib/3/themes/light.js"></script>
<script type="text/javascript">
    var myArray;
    var allArray;
    $('document').ready( function() {
        breedCode = 25;
        myArray = [];
        allArray = [];
        @for (int i = 0; i < 26;  i++)
        {
            @:var myTempArray = [];
            @:var allTempArray = [];
            for (int j = 0; j < 12; j++)
            {
                @:myTempArray[@j] = @Model.myArray[i, j];
                @:allTempArray[@j] = @Model.allArray[i, j];
            }
            @:myArray[@i] = myTempArray;
            @:allArray[@i] = allTempArray;
        }
    });
    $('#stringBreedCode').change( function() {
        breedCode = parseInt($('#stringBreedCode').val());
        if($('#graphAnswer').val() == "General") {
            $('#graph1Title').html("Average Daily Gains (ADG) (By Breed)")
            $('#graph1').css('display', 'block')
            adgGraph();
            $('#graph2Title').html("Total/Active Animals (All Breeds)")
            $('#graph2').css('display', 'block')
            totalActiveGraph();
            $('#graph3Title').html("Average Birth Weight / Weaning Weight (By Breed)")
            $('#graph3').css('display', 'block')
            bornWeaningWeightGraph();
            $('#graph4Title').html(" ")
            $('#graph4').css('display', 'none')
        }
        else if ($('#graphAnswer').val() == "Weaning") {
            $('#graph1Title').html("Total Offspring Born (All Breeds)")
            $('#graph1').css('display', 'block')
            $('#graph2Title').html("Total Offspring Weaned (All Breeds)")
            $('#graph2').css('display', 'block')
            bornWeanedGraph();
            $('#graph3Title').html(" ")
            $('#graph3').css('display', 'none')
            $('#graph4Title').html(" ")
            $('#graph4').css('display', 'none')
        }
        else if ($('#graphAnswer').val() == "Birth") {
            $('#graph1Title').html("Mating and Birth Count (All Breeds)")
            $('#graph1').css('display', 'block')
            matingBirthGraph();
            $('#graph2Title').html("Birth Survival Rate (All Breeds)")
            $('#graph2').css('display', 'block')
            survivalRateGraph();
            $('#graph3Title').html("Dam Parity Count and Average Birth Weight (All Breeds)")
            $('#graph3').css('display', 'block')
            parityBirthWeightGraph();
            $('#graph4Title').html("Multiple Births (All Births)")
            $('#graph4').css('display', 'block')
            multipleBirthsGraph();
        }
    });
    function adgGraph () {
        var chart = AmCharts.makeChart("graph1", {
            "type": "serial",
            "theme": "none",
            "legend": {
                "horizontalGap": 10,
                "useGraphSettings": true,
                "markerSize": 10
            },
            "dataProvider": [{
                "category": "Weaning ADG",
                "allHerd": allArray[breedCode][0],
                "myHerd": myArray[breedCode][0],
            }, {
                "category": "Weaning ADG (Male)",
                "allHerd": allArray[breedCode][1],
                "myHerd": myArray[breedCode][1],
            }, {
                "category": "Weaning ADG (Female)",
                "allHerd": allArray[breedCode][2],
                "myHerd": myArray[breedCode][2],
            }, {
                "category": "Post-Weaning ADG",
                "allHerd": allArray[breedCode][3],
                "myHerd": myArray[breedCode][3],
            }, {
                "category": "Post-Weaning ADG (Male)",
                "allHerd": allArray[breedCode][4],
                "myHerd": myArray[breedCode][4],
            }, {
                "category": "Post-Weaning ADG (Female)",
                "allHerd": allArray[breedCode][5],
                "myHerd": myArray[breedCode][5],
            }],
            "legend" : [{
                "title":"first",
                "color":"#CC0000"
            }, {
                "title":"second",
                "color":"#00CC00"
            }],
            "valueAxes": [{
                "unit": "lbs",
                "position": "left",
                "title": "ADG (lbs)",
            }],
            "startDuration": 1,
            "graphs": [{
                "balloonText": "All Herd's [[category]] : <b>[[value]]</b>",
                "fillAlphas": 0.9,
                "lineAlpha": 0.2,
                "title": "All Herd's Average",
                "type": "column",
                "valueField": "allHerd"
            }, {
                "balloonText": "My Herd's [[category]] : <b>[[value]]</b>",
                "fillAlphas": 0.9,
                "lineAlpha": 0.2,
                "title": "My Herd's Average",
                "type": "column",
                "clustered":false,
                "columnWidth":0.5,
                "valueField": "myHerd"
            }],
            "plotAreaFillAlphas": 0.1,
            "categoryField": "category",
            "categoryAxis": {
                "gridPosition": "start"
            },
            "export": {
                "enabled": true,
                "libs": {
                    "path": "http://www.amcharts.com/lib/3/plugins/export/libs/"
                }
            }
        });
    }
    function totalActiveGraph() {
        var chart = AmCharts.makeChart( "graph2", {
            "type": "serial",
            "theme": "light",
            "depth3D": 20,
            "angle": 30,
            "legend": {
                "horizontalGap" : 10,
                "useGraphSettings": true,
                "markerSize" : 10,
            },
            "dataProvider": [ {
                "year": "Total",
                "europe": @Model.totalSire,
                "namerica": @Model.totalDam,
            }, {
                "year": "Active",
                "europe": @Model.activeSire,
                "namerica": @Model.activeDam,
            } ],
            "valueAxes": [ {
                "stackType": "regular",
                "axisAlpha": 0,
                "gridAlpha": 0
            } ],
            "graphs": [ {
                "balloonText": "<b>[[title]]</b><br><span style='font-size:14px'>[[category]]: <b>[[value]]</b></span>",
                "fillAlphas": 0.8,
                "labelText": "[[value]]",
                "lineAlpha": 0.3,
                "title": "Sire",
                "type": "column",
                "color": "#000000",
                "valueField": "europe"
            }, {
                "balloonText": "<b>[[title]]</b><br><span style='font-size:14px'>[[category]]: <b>[[value]]</b></span>",
                "fillAlphas": 0.8,
                "labelText": "[[value]]",
                "lineAlpha": 0.3,
                "title": "Dam",
                "newStack": true,
                "type": "column",
                "color": "#000000",
                "valueField": "namerica"
            } ],
            "categoryField": "year",
            "categoryAxis": {
                "gridPosition": "start",
                "axisAlpha": 0,
                "gridAlpha": 0,
                "position": "left"
            },
            "export": {
                "enabled": true,
                "libs": {
                    "path": "http://www.amcharts.com/lib/3/plugins/export/libs/"
                }
            }

        } );
    }
    function bornWeanedGraph() {
        var chart = AmCharts.makeChart( "graph1", {
            "type": "pie",
            "theme": "none",
            "legend": {
                "markerType": "circle",
                "position": "right",
                "marginRight": 80,
                "autoMargins": false
            },
            "dataProvider": [ {
                "country": "Male",
                "litres": @Model.numberBornMale,
            }, {
                "country": "Female",
                "litres": @Model.numberBornFemale,
            } ],
            "valueField": "litres",
            "titleField": "country",
            "balloonText": "[[title]]<br><span style='font-size:14px'><b>[[value]]</b> ([[percents]]%)</span>",
            "export": {
                "enabled": true,
                "libs": {
                    "path": "http://www.amcharts.com/lib/3/plugins/export/libs/"
                }
            }
        } );
        var chart2 = AmCharts.makeChart( "graph2", {
            "type": "pie",
            "theme": "none",
            "legend": {
                "markerType": "circle",
                "position": "right",
                "marginRight": 80,
                "autoMargins": false
            },
            "dataProvider": [ {
                "country": "Male",
                "litres": @Model.numberWeanedMale,
            }, {
                "country": "Female",
                "litres": @Model.numberWeanedFemale,
            } ],
            "valueField": "litres",
            "titleField": "country",
            "balloonText": "[[title]]<br><span style='font-size:14px'><b>[[value]]</b> ([[percents]]%)</span>",
            "export": {
                "enabled": true,
                "libs": {
                    "path": "http://www.amcharts.com/lib/3/plugins/export/libs/"
                }
            }
        } );
    }

    function bornWeaningWeightGraph() {
        var chart3 = AmCharts.makeChart( "graph3", {
            "type": "serial",
            "theme": "light",
            "depth3D": 20,
            "angle": 30,
            "legend": {
                "horizontalGap": 10,
                "useGraphSettings": true,
                "markerSize": 10
            },
            "dataProvider": [ {
                "year": "Birth Weight",
                "europe": myArray[breedCode][6],
                "namerica": myArray[breedCode][7],
                "lamerica": myArray[breedCode][8],
            }, {
                "year": "Weaning Weight",
                "europe": myArray[breedCode][9],
                "namerica": myArray[breedCode][10],
                "lamerica": myArray[breedCode][11],
            } ],
            "valueAxes": [ {
                "stackType": "regular",
                "axisAlpha": 0,
                "gridAlpha": 0
            } ],
            "graphs": [ {
                "balloonText": "<b>[[title]]</b><br><span style='font-size:14px'>[[category]]: <b>[[value]]</b></span>",
                "fillAlphas": 0.8,
                "labelText": "[[value]]",
                "lineAlpha": 0.3,
                "title": "Average",
                "type": "column",
                "color": "#000000",
                "valueField": "europe"
            }, {
                "balloonText": "<b>[[title]]</b><br><span style='font-size:14px'>[[category]]: <b>[[value]]</b></span>",
                "fillAlphas": 0.8,
                "labelText": "[[value]]",
                "lineAlpha": 0.3,
                "title": "Male",
                "newStack": true,
                "type": "column",
                "color": "#000000",
                "valueField": "namerica"
            }, {
                "balloonText": "<b>[[title]]</b><br><span style='font-size:14px'>[[category]]: <b>[[value]]</b></span>",
                "fillAlphas": 0.8,
                "labelText": "[[value]]",
                "lineAlpha": 0.3,
                "title": "Female",
                "newStack": true,
                "type": "column",
                "color": "#000000",
                "valueField": "lamerica"
            } ],
            "categoryField": "year",
            "categoryAxis": {
                "gridPosition": "start",
                "axisAlpha": 0,
                "gridAlpha": 0,
                "position": "left"
            },
            "export": {
                "enabled": true,
                "libs": {
                    "path": "http://www.amcharts.com/lib/3/plugins/export/libs/"
                }
            }

        } );
    }
    function matingBirthGraph() {
        var chart = AmCharts.makeChart( "graph1", {
            "type": "serial",
            "theme": "light",
            "depth3D": 20,
            "angle": 30,
            "legend": {
                "horizontalGap" : 10,
                "useGraphSettings": true,
                "markerSize" : 10,
            },
            "dataProvider": [ {
                "year": "Total",
                "europe": @Model.matingCount,
                "namerica": @Model.kiddingCount,
            }],
            "valueAxes": [ {
                "stackType": "regular",
                "axisAlpha": 0,
                "gridAlpha": 0
            } ],
            "graphs": [ {
                "balloonText": "<b>[[title]]</b><br><span style='font-size:14px'>[[category]]: <b>[[value]]</b></span>",
                "fillAlphas": 0.8,
                "labelText": "[[value]]",
                "lineAlpha": 0.3,
                "title": "Matings",
                "type": "column",
                "color": "#000000",
                "valueField": "europe"
            }, {
                "balloonText": "<b>[[title]]</b><br><span style='font-size:14px'>[[category]]: <b>[[value]]</b></span>",
                "fillAlphas": 0.8,
                "labelText": "[[value]]",
                "lineAlpha": 0.3,
                "title": "Offspring",
                "newStack": true,
                "type": "column",
                "color": "#000000",
                "valueField": "namerica"
            } ],
            "categoryField": "year",
            "categoryAxis": {
                "gridPosition": "start",
                "axisAlpha": 0,
                "gridAlpha": 0,
                "position": "left"
            },
            "export": {
                "enabled": true,
                "libs": {
                    "path": "http://www.amcharts.com/lib/3/plugins/export/libs/"
                }
            }

        } );
    }
    function survivalRateGraph() {
        var chart6 = AmCharts.makeChart( "graph2", {
            "type": "pie",
            "theme": "light",
            "dataProvider": [ {
                "country": "Alive",
                "visits": @Model.kidsAliveCount
            }, {
                "country": "Dead",
                "visits": @Model.kidsBornCount - @Model.kidsAliveCount
            }],
            "valueField": "visits",
            "titleField": "country",
            "startEffect": "elastic",
            "startDuration": 2,
            "labelRadius": 15,
            "innerRadius": "50%",
            "depth3D": 10,
            "balloonText": "[[title]]<br><span style='font-size:14px'><b>[[value]]</b> ([[percents]]%)</span>",
            "angle": 15,
            "export": {
                "enabled": true,
                "libs": {
                    "path": "http://www.amcharts.com/lib/3/plugins/export/libs/"
                }
            }
        } );
    }
    function parityBirthWeightGraph() {
        var chart = AmCharts.makeChart("graph3", {
            "type": "serial",
            "addClassNames": true,
            "theme": "light",
            "pathToImages": "/lib/3/images/",
            "autoMargins": false,
            "marginLeft": 30,
            "marginRight": 8,
            "marginTop": 10,
            "marginBottom": 26,
            "balloon": {
                "adjustBorderColor": false,
                "horizontalPadding": 10,
                "verticalPadding": 8,
                "color": "#ffffff"
            },

            "dataProvider": [{
                "year": 1,
                "income": @Model.damParity1BW,
                "ww": @Model.damParity1WW,
                "expenses": @Model.damParity1Count
            }, {
                "year": 2,
                "income": @Model.damParity2BW,
                "ww": @Model.damParity2WW,
                "expenses": @Model.damParity2Count
            }, {
                "year": 3,
                "income": @Model.damParity3BW,
                "ww": @Model.damParity3WW,
                "expenses": @Model.damParity3Count
            }, {
                "year": "4+",
                "income": @Model.damParity4BW,
                "ww": @Model.damParity4WW,
                "expenses": @Model.damParity4Count
            }],
            "valueAxes": [{
                "axisAlpha": 0,
                "position": "left"
            }],
            "startDuration": 1,
            "graphs": [{
                "alphaField": "alpha",
                "balloonText": "<span style='font-size:12px;'>[[title]] of Dam Parity [[category]]:<br><span style='font-size:20px;'>[[value]]</span> [[additional]]</span>",
                "fillAlphas": 1,
                "title": "Avg Birth Weight",
                "type": "column",
                "valueField": "income",
                "dashLengthField": "dashLengthColumn"
            }, {
                "alphaField": "alpha",
                "balloonText": "<span style='font-size:12px;'>[[title]] of Dam Parity [[category]]:<br><span style='font-size:20px;'>[[value]]</span> [[additional]]</span>",
                "fillAlphas": 1,
                "title": "Avg Weaning Weight",
                "type": "column",
                "valueField": "ww",
                "dashLengthField": "dashLengthColumn"
            }, {
                "id": "graph2",
                "balloonText": "<span style='font-size:12px;'>[[title]] with Parity [[category]]:<br><span style='font-size:20px;'>[[value]]</span> [[additional]]</span>",
                "bullet": "round",
                "lineThickness": 3,
                "bulletSize": 7,
                "bulletBorderAlpha": 1,
                "bulletColor": "#FFFFFF",
                "useLineColorForBulletBorder": true,
                "bulletBorderThickness": 3,
                "fillAlphas": 0,
                "lineAlpha": 1,
                "title": "Dams",
                "valueField": "expenses"
            }],
            "categoryField": "year",
            "categoryAxis": {
                "gridPosition": "start",
                "axisAlpha": 0,
                "tickLength": 0
            },
            "export": {
                "enabled": true,
                "libs": {
                    "path": "http://www.amcharts.com/lib/3/plugins/export/libs/"
                }
            }
        });
    }
    function multipleBirthsGraph() {
        var chart = AmCharts.makeChart("graph4", {
            "type": "serial",
            "addClassNames": true,
            "theme": "light",
            "pathToImages": "/lib/3/images/",
            "autoMargins": false,
            "marginLeft": 30,
            "marginRight": 8,
            "marginTop": 10,
            "marginBottom": 26,
            "balloon": {
                "adjustBorderColor": false,
                "horizontalPadding": 10,
                "verticalPadding": 8,
                "color": "#ffffff"
            },

            "dataProvider": [{
                "year": "Single",
                "expenses": @Model.singleBirthCount,
                "income": @Model.singleBWAvg,
                "ww": @Model.singleWWAvg
            }, {
                "year": "Twin",
                "expenses": @Model.twinBirthCount,
                "income": @Model.twinBWAvg,
                "ww": @Model.twinWWAvg
            }, {
                "year": "Triplet",
                "expenses": @Model.tripletBirthCount,
                "income": @Model.tripletBWAvg,
                "ww": @Model.tripletWWAvg
            }, {
                "year": "Quard+",
                "expenses": @Model.quadBirthCount,
                "income": @Model.quadBWAvg,
                "ww": @Model.quadWWAvg
            }],
            "valueAxes": [{
                "axisAlpha": 0,
                "position": "left"
            }],
            "startDuration": 1,
            "graphs": [{
                "alphaField": "alpha",
                "balloonText": "<span style='font-size:12px;'>[[title]] of Offspring in [[category]] Birth:<br><span style='font-size:20px;'>[[value]]</span> [[additional]]</span>",
                "fillAlphas": 1,
                "title": "Avg Birth Weight",
                "type": "column",
                "valueField": "income",
                "dashLengthField": "dashLengthColumn"
            }, {
                "alphaField": "alpha",
                "balloonText": "<span style='font-size:12px;'>[[title]] of Offspring in [[category]] Birth:<br><span style='font-size:20px;'>[[value]]</span> [[additional]]</span>",
                "fillAlphas": 1,
                "title": "Avg Weaning Weight",
                "type": "column",
                "valueField": "ww",
                "dashLengthField": "dashLengthColumn"
            }, {
                "id": "graph2",
                "balloonText": "<span style='font-size:12px;'>[[title]] in [[category]] Birth:<br><span style='font-size:20px;'>[[value]]</span> [[additional]]</span>",
                "bullet": "round",
                "lineThickness": 3,
                "bulletSize": 7,
                "bulletBorderAlpha": 1,
                "bulletColor": "#FFFFFF",
                "useLineColorForBulletBorder": true,
                "bulletBorderThickness": 3,
                "fillAlphas": 0,
                "lineAlpha": 1,
                "title": "Offspring",
                "valueField": "expenses"
            }],
            "categoryField": "year",
            "categoryAxis": {
                "gridPosition": "start",
                "axisAlpha": 0,
                "tickLength": 0
            },
            "export": {
                "enabled": true,
                "libs": {
                    "path": "http://www.amcharts.com/lib/3/plugins/export/libs/"
                }
            }
        });
    }
    $('#graphAnswer').change(function() {
        if($('#graphAnswer').val() == "General") {
            $('#breedString').css('display', 'block')
            $('#graph1Title').html("Average Daily Gains (ADG) (By Breed)")
            $('#graph1').css('display', 'block')
            adgGraph();
            $('#graph2Title').html("Total/Active Animals (All Breeds)")
            $('#graph2').css('display', 'block')
            totalActiveGraph();
            $('#graph3Title').html("Average Birth Weight / Weaning Weight (By Breed)")
            $('#graph3').css('display', 'block')
            bornWeaningWeightGraph();
            $('#graph4Title').html(" ")
            $('#graph4').css('display', 'none')
        }
        else if ($('#graphAnswer').val() == "Weaning") {
            $('#breedString').css('display', 'none')
            $('#graph1Title').html("Total Offspring Born (All Breeds)")
            $('#graph1').css('display', 'block')
            $('#graph2Title').html("Total Offspring Weaned (All Breeds)")
            $('#graph2').css('display', 'block')
            bornWeanedGraph();
            $('#graph3Title').html(" ")
            $('#graph3').css('display', 'none')
            $('#graph4Title').html(" ")
            $('#graph4').css('display', 'none')
        }
        else if ($('#graphAnswer').val() == "Birth") {
            $('#breedString').css('display', 'none')
            $('#graph1Title').html("Mating and Birth Count (All Breeds)")
            $('#graph1').css('display', 'block')
            matingBirthGraph();
            $('#graph2Title').html("Birth Survival Rate (All Breeds)")
            $('#graph2').css('display', 'block')
            survivalRateGraph();
            $('#graph3Title').html("Dam Parity Count and Average Birth Weight (All Breeds)")
            $('#graph3').css('display', 'block')
            parityBirthWeightGraph();
            $('#graph4Title').html("Multiple Births (All Births)")
            $('#graph4').css('display', 'block')
            multipleBirthsGraph();
        }
    });
</script>
