@model goatMGMT.Models.BirthViewModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>Edit</h2>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)


        @Html.HiddenFor(m => m.birth.father_id)
        @Html.HiddenFor(m => m.birth.mother_id)
        @Html.HiddenFor(m => m.birth.child_id)
        @Html.HiddenFor(m => m.birth.id)
        
        <fieldset class="form-horizontal">
            <legend>Breeding</legend>

            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Offspring's Tag</h3>
                        </div>
                        <div class="panel-body">
                            @Html.DisplayFor(model => model.offspring_tag)
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Mother's Tag</h3>
                        </div>
                        <div class="panel-body">
                            @Html.DisplayFor(model => model.mother_tag)
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Father's Tag</h3>
                        </div>
                        <div class="panel-body">
                            @Html.DisplayFor(model => model.father_tag)
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">@Html.LabelFor(model => model.birth.Animal.dob)</h3>
                        </div>
                        <div class="panel-body">
                            @Html.DisplayFor(model => model.birth.Animal.dob)
                        </div>
                    </div>
                </div>
            </div>

            <div class="control-group">
                @Html.LabelFor(model => model.birth.score, new { @class = "control-label" })
                <div class="controls">
                    @Html.EditorFor(model => model.birth.score, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.birth.score, null, new { @class = "help-inline" })
                </div>
            </div>

            <div class="control-group">
                @Html.LabelFor(model => model.birth.alive, new { @class = "control-label" })
                <div class="controls">
                    @Html.EditorFor(model => model.birth.alive, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.birth.alive, null, new { @class = "help-inline" })
                </div>
            </div>

            <div class="control-group">
                @Html.LabelFor(model => model.birth.alive, new { @class = "control-label" })
                <div class="controls">
                    @Html.EditorFor(model => model.birth.alive, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.birth.alive, null, new { @class = "help-inline" })
                </div>
            </div>

            <div class="control-group">
                @Html.LabelFor(model => model.birth.born, new { @class = "control-label" })
                <div class="controls">
                    @Html.EditorFor(model => model.birth.born, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.birth.born, null, new { @class = "help-inline" })
                </div>
            </div>

            <div class="control-group">
                @Html.LabelFor(model => model.birth.notes, new { @class = "control-label" })
                <div class="controls">
                    @Html.TextAreaFor(model => model.birth.notes, new { @class = "form-control", @style = "max-width:100%; min-width:100%;  min-height:71px" })
                    @Html.ValidationMessageFor(model => model.birth.notes, null, new { @class = "help-inline" })
                </div>
            </div>

            <div class="form-actions no-color" style="padding-bottom:15px">
                <input type="submit" value="Save" class="btn btn-success" style="margin-top:15px;" />
                @Html.ActionLink("Cancel", "Index", "Birth", new { id2 = Model.birth.father_id, id3 = Model.birth.mother_id }, new { @class = "btn btn-danger", @style = "margin-top:15px;" })
            </div>
        </fieldset>
    }

</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

