@model goatMGMT.Models.BirthViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>Births</h2>

    <p>
        @Html.ActionLink("Create New", "Create", "Birth", new { id = Model.birth.breed_id }, new { @class = "btn btn-success" })
        @Html.ActionLink("Back to Breedings", "Index", "Breeding", new { }, new { @class = "btn btn-warning" })
    </p>
    <div class="table-responsive">
        <table class="table table-striped">
            <tr>
                <th>
                    Offspring's Tag
                </th>
                <th>
                    Dam's Tag
                </th>
                <th>
                    Sire's Tag
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.birth.Animal.dob)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.birth.score)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.birth.alive)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.birth.born)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model.ien)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.offspring_tag)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.mother_tag)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.father_tag)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.birth.Animal.dob)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.birth.score)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.birth.alive)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.birth.born)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.birth.id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.birth.id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.birth.id })
                    </td>
                </tr>
            }

        </table>
    </div>
</div>