@model goatMGMT.Models.BirthViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
   
    <h2>Births</h2>

    <div class="row">
        <div class="col-md-12">
            <div class="">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <tr>
                            <td>
                                <b> @Html.DisplayNameFor(model => model.mother_tag):</b> @Html.DisplayFor(model => model.mother_tag)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b> @Html.DisplayNameFor(model => model.father_tag):</b> @Html.DisplayFor(model => model.father_tag)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b>  @Html.DisplayNameFor(model => model.parity):</b> @Html.DisplayFor(model => model.parity)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b>  @Html.DisplayNameFor(model => model.born):</b> @Html.DisplayFor(model => model.born)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b>  @Html.DisplayNameFor(model => model.alive):</b> @Html.DisplayFor(model => model.alive)
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <p>
        @Html.ActionLink("Back to Breedings", "Index", "Breeding", new { }, new { @class = "btn btn-danger" })
        @Html.ActionLink("Create Birth", "Create", "Birth", new { id = Model.birth.breed_id }, new { @class = "btn btn-success" })
        @Html.ActionLink("Update Litter Info", "updateLitter", "Birth", new { id = Model.birth.breed_id }, new { @class = "btn btn-warning" })
    </p>
    <div class="table-responsive">
        <table class="table table-striped tablesorter" id="birthtable">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.offspring_tag)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.birth.Animal.dob)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.birth.score)
                    </th>
                    <th class="non-sort"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.ien)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.offspring_tag)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.birth.Animal.dob)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.birth.score)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.birth.id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.birth.id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.birth.id })
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
    <div id="pager" class="pager">
        <form>
            <button type="button" class="btn btn-default first">First</button>
            <button type="button" class="btn btn-default prev">Prev</button>
            <input type="text" class="pagedisplay" readonly style="height: 34px;" />
            <button type="button" class="btn btn-default next">Next</button>
            <button type="button" class="btn btn-default last">Last</button><br />
            Items on page&nbsp<select class="pagesize">
                <option selected="selected" value="5">5</option>
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="30">30</option>
                <option value="40">40</option>
                <option value="9999">View All</option>
            </select>
        </form>
    </div>
</div>
<script src="~/Scripts/jquery.tablesorter.min.js"></script>
<script src="~/Scripts/jquery.tablesorter.pager.js"></script>
<script src="~/Scripts/jquery.sieve.js"></script>
<script type="text/javascript">
        $(document).ready(function () {
            $('#birthtable').tablesorter({
                theme: 'default',
                headers: {
                    '.non-sort': { sorter: false }
                }
            }).tablesorter().tablesorterPager({
                container: $('#pager'),
                output: '{startRow} to {endRow} ({totalRows})'
            });
            $('#birthtable').sieve();
        });
</script>