@model goatMGMT.Models.Animals

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Animals</h4>
        <hr />
        @Html.ValidationSummary(true)
        <div class="form-group">
            @Html.LabelFor(model => model.dob, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.dob)
                @Html.ValidationMessageFor(model => model.dob)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.farm_name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.farm_name)
                @Html.ValidationMessageFor(model => model.farm_name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.tag, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.tag)
                @Html.ValidationMessageFor(model => model.tag)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.species, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.species)
                @Html.ValidationMessageFor(model => model.species)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.name)
                @Html.ValidationMessageFor(model => model.name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.regulation_no, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.regulation_no)
                @Html.ValidationMessageFor(model => model.regulation_no)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.breed_code, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.breed_code)
                @Html.ValidationMessageFor(model => model.breed_code)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.microchip_id, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.microchip_id)
                @Html.ValidationMessageFor(model => model.microchip_id)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.premise_id, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.premise_id)
                @Html.ValidationMessageFor(model => model.premise_id)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.herd_id_code, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.herd_id_code)
                @Html.ValidationMessageFor(model => model.herd_id_code)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.breed_registry, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.breed_registry)
                @Html.ValidationMessageFor(model => model.breed_registry)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.status_code, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.status_code)
                @Html.ValidationMessageFor(model => model.status_code)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.disposal_date, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.disposal_date)
                @Html.ValidationMessageFor(model => model.disposal_date)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.current_weight, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.current_weight)
                @Html.ValidationMessageFor(model => model.current_weight)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.market_weight, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.market_weight)
                @Html.ValidationMessageFor(model => model.market_weight)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.market_date, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.market_date)
                @Html.ValidationMessageFor(model => model.market_date)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.remarks, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.remarks)
                @Html.ValidationMessageFor(model => model.remarks)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
