@model goatMGMT.Models.Comment

@{
    ViewBag.Title = "Details";
}
<div class="container">
<h2>Details</h2>
<div>

    <fieldset>
        <legend>Breeding</legend>

        <div class="row">
            <div class="col-md-12">
                <div class="">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <tr>
                                <td>
                              <b> @Html.DisplayNameFor(model => model.email):</b> @Html.DisplayFor(model => model.email)
                                </td>
                            </tr>
                            <tr>
                                <td>
                               <b> @Html.DisplayNameFor(model => model.name):</b> @Html.DisplayFor(model => model.name)
                                </td>
                            </tr>
                            <tr>
                                <td>
                              <b>  @Html.DisplayNameFor(model => model.date_sent):</b> @Html.DisplayFor(model => model.date_sent)
                                </td>
                            </tr>

                        </table>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><b> @Html.DisplayNameFor(model => model.subject): </b> @Html.DisplayFor(model => model.subject) </h3>
                    </div>
                    <div class="panel-body">
                      <b>  @Html.DisplayNameFor(model => model.comment1): </b> @Html.DisplayFor(model => model.comment1)
                    </div>
                </div>
            </div>
        </div>
        
    </fieldset>
    <p>
        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
    </p>
</div>
</div>